body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}
h2{
    color: #666;
    margin-left: 20px;
}
h3{
    color: #999;
    margin-left: 40px;
}
h4{
    color: #CCC;
    margin-left: 60px;
}
h5{
    color: #EEE;
    margin-left: 80px;
}
h6{
    color: #F3F3F3;
    margin-left: 100px;
}
p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}